html {
  font-family: "Roboto", monospace, monospace;
  overflow-x: hidden;
}

br {
  width: 100%;
}

input {
  width: 100%;
  height: 15vw;
}

.centeredDiv {
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 0vw;
  text-align: center;
}

.flex-item {
  width: 13vw;
  height: 13vw;
  padding: 0vw;
  background: #009cb8;
  font-size: 10vw;
  text-align: center;
  vertical-align: middle;
  border-radius: 3vw;
  border-color: rgb(234, 255, 255);

  border-style: solid;
  border-width: 1vw;
  box-shadow: 1vw 1vw 1vw #001729;
}

.infoPane {
  display: none;
}

.infoPaneShow {
  display: inherit;
  color: ivory;
  text-emphasis: #1f51ff;
  text-align: center;
}

@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }

  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

h1,
h2 {
  text-align: center;
  width: 100%;
}

div[role="progressbar"] {
  --size: 15rem;
  --fg: #ffe91f;
  --bg: rgb(28, 79, 129);
  --pgPercentage: var(--value);
  animation: growProgressBar 1s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      #161616 75%,
      transparent 0 99.9%,
      rgb(56, 5, 5) 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: monospace, monospace;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
  box-shadow: 4vw 4vw 4vw #2f4446;
  outline-color: rgb(4, 62, 87);
  outline-style: solid;
  outline-width: 2vw;

  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) var(--typeOfValue);
}

button {
  color: #fefcfb;
  background-color: #009cb8;
  padding: 15px 15px;
  text-decoration: none;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  transition-duration: 0.4s;
  width: 100%;
  height: 15vw;
  padding: 0vw;
  font-size: 10vw;
  text-align: center;
  vertical-align: middle;
  border-radius: 3vw;
  border-color: rgb(234, 255, 255);
  border-style: solid;
  border-width: 1vw;
  box-shadow: 1vw 1vw 1vw #001729;
}

button:hover {
  background-color: #034078;
}

input[type="text"],
input[type="number"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 18px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="button"] {
  color: #fefcfb;
  background-color: #009cb8;
  padding: 15px 15px;
  text-decoration: none;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  transition-duration: 0.4s;
  width: 100%;
  height: 15vw;
  padding: 0vw;
  font-size: 10vw;
  text-align: center;
  vertical-align: middle;
  border-radius: 3vw;
  border-color: rgb(234, 255, 255);
  border-style: solid;
  border-width: 1vw;
  box-shadow: 1vw 1vw 1vw #001729;
}

input[type="button"]:hover {
  background-color: #034078;
}

.wificreds label {
  font-size: 1.2rem;
  width: 100px;
  display: inline-block;
  text-align: right;
}

.mqttcreds label {
  font-size: 1.2rem;
  width: 120px;
  display: inline-block;
  text-align: right;
}
